# MYSQL Server無いので Docker上ではOnMemoryのH2 Databaseで代替(Port:8090)
server:
  port: 8090

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:web_sample_db;MODE=MySQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations: classpath:h2/schema.sql
      data-locations: classpath:h2/data.sql
