# プロジェクト概要
- Spring Boot(REST API) + Reactを利用したWeb Appのサンプルリポジトリです。

# 回答方針
- 回答は日本語で行う
- 不明点は仮定を明示してから進める

## 要件
- 架空のBtoCグルメサイトのカスタマーサービス向けの社内アプリを想定しています。
- (1) ユーザー機能
  - ユーザーの一覧機能
  - ユーザー詳細機能(店舗予約履歴の確認)

- (2) 店舗機能
  - 店舗一覧の確認
  - 店舗の登録・更新・詳細機能

# Spring Bootのコーディングルール
## コーディングルール
- コントローラは`@RestController`+`@RequestMapping`でパスを定義
- パスパラメータは`@PathVariable`
- DTO/レスポンスは`model/response`配下に配置
- MyBatis の Mapper は`src/main/resources/mapper/`（慣例）
- フォーマッタは Google Java Format (VSCode 拡張で自動整形)
- Model が持つデータの抽出処理などは Service に集約させずに、domain model method として提供すること
- Request Class を Repositry Layer まで伝搬させないこと。また Entity Class を Controller Layer まで伝搬させないこと。
- フラットパッケージで作成する
- javadocは日本語で記載してください。
- 極力変数は変更不要で定義し、finalを使用してください。

## Model変換について
- シンプルな Model 変換は Model 内で static method で実装してください
- 複雑な Model 変換については Conveter/Factory という補助クラスを Spring Bean として用意して作成し、そちらで変換するようにしてください。
  - Factory: Model の生成に特化したクラス Service -> Repository で必要な Model を生成する
  - Converter: Model 間の変換に特化したクラス 基本的には戻し(Repository -> Service/ Service -> Controller)の Model 変換で利用
